In [6]:
import os

In [7]:
os.chdir("/Users/reinhardts/Documents/Dummyfiles")

In [8]:
print(os.getcwd())

/Users/reinhardts/Documents/Dummyfiles

In [9]:
for f in os.listdir():
    print(f)

Jupiter - Our solar system - #6
The Sun - Our solar system - #1
Pluto - Our solar system - #10
Mars - Our solar system -#5
Venus - Our solar system - #3
Earth - Our Solar System-#4
Uranus - Our solar system - #9
Saturn - Our solar system - #7
Mercury - Our solar system - #2
Neptune - Our solar system - #8

In [10]:
for f in os.listdir():
    print(os.path.splitext(f))

('Jupiter - Our solar system - #6', '')
('The Sun - Our solar system - #1', '')
('Pluto - Our solar system - #10', '')
('Mars - Our solar system -#5', '')
('Venus - Our solar system - #3', '')
('Earth - Our Solar System-#4', '')
('Uranus - Our solar system - #9', '')
('Saturn - Our solar system - #7', '')
('Mercury - Our solar system - #2', '')
('Neptune - Our solar system - #8', '')

In [11]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    print(file_name)

Jupiter - Our solar system - #6
The Sun - Our solar system - #1
Pluto - Our solar system - #10
Mars - Our solar system -#5
Venus - Our solar system - #3
Earth - Our Solar System-#4
Uranus - Our solar system - #9
Saturn - Our solar system - #7
Mercury - Our solar system - #2
Neptune - Our solar system - #8

In [12]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    print(file_name.split("-"))

['Jupiter ', ' Our solar system ', ' #6']
['The Sun ', ' Our solar system ', ' #1']
['Pluto ', ' Our solar system ', ' #10']
['Mars ', ' Our solar system ', '#5']
['Venus ', ' Our solar system ', ' #3']
['Earth ', ' Our Solar System', '#4']
['Uranus ', ' Our solar system ', ' #9']
['Saturn ', ' Our solar system ', ' #7']
['Mercury ', ' Our solar system ', ' #2']
['Neptune ', ' Our solar system ', ' #8']

In [14]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = file_name.split("-")
    print(f_title)

Jupiter
The Sun
Pluto
Mars
Venus
Earth
Uranus
Saturn
Mercury
Neptune

In [15]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = file_name.split("-")
    print(f_course)

 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our Solar System
 Our solar system
 Our solar system
 Our solar system
 Our solar system

In [16]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = file_name.split("-")
    print(f_num)

 #6
 #1
 #10
#5
 #3
#4
 #9
 #7
 #2
 #8

In [18]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = f_name.split("-")
    
    print("{}-{}-{}{}".format(f_num, f_course, f_title, f_ext))

 #6- Our solar system -Jupiter
 #1- Our solar system -The Sun
 #10- Our solar system -Pluto
#5- Our solar system -Mars
 #3- Our solar system -Venus
#4- Our Solar System-Earth
 #9- Our solar system -Uranus
 #7- Our solar system -Saturn
 #2- Our solar system -Mercury
 #8- Our solar system -Neptune

In [20]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = f_name.split("-")
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()
    
    print("{}-{}-{}{}".format(f_num, f_course, f_title, f_ext))

#6-Our solar system-Jupiter
#1-Our solar system-The Sun
#10-Our solar system-Pluto
#5-Our solar system-Mars
#3-Our solar system-Venus
#4-Our Solar System-Earth
#9-Our solar system-Uranus
#7-Our solar system-Saturn
#2-Our solar system-Mercury
#8-Our solar system-Neptune

In [21]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = f_name.split("-")
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:]
    
    print("{}-{}-{}{}".format(f_num, f_course, f_title, f_ext))

6-Our solar system-Jupiter
1-Our solar system-The Sun
10-Our solar system-Pluto
5-Our solar system-Mars
3-Our solar system-Venus
4-Our Solar System-Earth
9-Our solar system-Uranus
7-Our solar system-Saturn
2-Our solar system-Mercury
8-Our solar system-Neptune

In [22]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = f_name.split("-")
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    print("{}-{}-{}{}".format(f_num, f_course, f_title, f_ext))

06-Our solar system-Jupiter
01-Our solar system-The Sun
10-Our solar system-Pluto
05-Our solar system-Mars
03-Our solar system-Venus
04-Our Solar System-Earth
09-Our solar system-Uranus
07-Our solar system-Saturn
02-Our solar system-Mercury
08-Our solar system-Neptune

In [25]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = f_name.split("-")
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    print("{}-{}{}".format(f_num, f_title, f_ext))

06-Jupiter
01-The Sun
10-Pluto
05-Mars
03-Venus
04-Earth
09-Uranus
07-Saturn
02-Mercury
08-Neptune

In [34]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)
    
    f_title, f_course, f_num = f_name.split("-")
    
    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    new_name = "{}-{}{}".format(f_num, f_title, f_ext)
    os.rename(f, new_name)